* {
  /*padding: 0;
    padding-left: 20px;
    margin-right: 20px;*/
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
.nav {
  height: 80px;
  width: 100%;
  padding-top: 20px;
  background-color: black;
  color: aliceblue;
}
.logo {
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bolder;
}
.nav ul {
  float: right;
  justify-content: space-between;
}
.nav ul li {
  display: inline-block;
}

.nav ul li a.active {
  transition: 5s;
  color: white;
}
.nav ul li a:hover {
  color: white;
  font-weight: bold;
}
.nav ul li a:hover {
  text-decoration-line: underline;
  text-decoration-color: #ed661f;
}

.nav-items {
  padding: 15px;
  font-size: 20px;
  color: white;
}
.get-started {
  padding: 12px;
  background-color: #ed661f;
  color: white !important;
  margin-left: 200px;
}
/* NAVBAR END */
.subheading1 {
  width: 100%;
  background-image: url("../background-image.png");
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: aliceblue;
}
.section1 {
  width: 43%;
  margin-left: 10%;
}
#header-text {
  color: black;
  font-size: 45px;
  letter-spacing: 0px;
  font-weight: bolder;
}
#subheader-text {
  font-size: 25px;
}

.custom-button {
  color: white;
  background-color: #ed661f;
  padding: 20px;
  border-color: transparent;
  text-align: center;
}

.section2 {
  width: 43%;
  margin-left: -1%;
}

.buttons {
  display: flex;
  flex-direction: row;
}
.customers {
  height: 100px;
  width: 54%;
  display: flex;
  flex-direction: row;
  margin-left: 40%;
  padding-top: 10px;
  background-color: whitesmoke;
  color: black;
  margin-top: -10px;
}
.customers-row {
  width: 25%;
  margin-right: 5%;
  font-weight: bolder;
}

.container {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.subheading2 {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 1%;
}
.section1 {
  width: 43%;
  /*padding: 30px;*/
  /*color: #0F298B;*/
  /*color: #FAFAFA*/
}
#header-text {
  color: black;
  font-size: 35px;
  letter-spacing: 0px;
  font-weight: bolder;
}
#subheader-text {
  font-size: 25px;
}
.section2 {
  width: 43%;
}

/* OUR PRODUCTS */
.products-heading {
  color: black;
  text-align: left;
  width: 100%;
  margin-left: 8%;
  font-size: 35px;
  letter-spacing: 0px;
}
.product-subheading {
  text-align: center;
  font-size: 35px;
  color: black;
  letter-spacing: 0px;
  width: 100%;
}
.products-category {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}
.product-subtext {
  text-align: center;
  font-size: 25px;
  width: 100%;
  color: black;
}
.product-text {
  text-align: center;
  font-size: 15px;
  width: 80%;
  color: black;
}

.Most-popular {
  width: 100%;
  margin-left: 0%;
  margin-top: 2rem;
  height: 400px;
  flex-direction: row;
  display: flex;
}
.fresh-carrots {
  width: 20%;
  margin-right: 2rem;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.cereals {
  width: 20%;
  margin-right: 2rem;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.fresh-fish {
  width: 20%;
  margin-right: 2rem;

  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.kales {
  width: 20%;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
/* DEAR ESTEEMED CUSTOMER SECTION START*/
.sec3 {
  width: 100%;
  flex-direction: row;
  display: flex;
  margin-left: 10%;
  margin-top: 2rem;
}
.esteemedCustomer {
  color: black;
  width: 100%;
  font-size: 22px;
  text-align: center;
}
.subText {
  color: black;
  font-size: 17px;
  text-align: center;
}
.secText {
  width: 25%;
  background-color: #fafafa;
  margin-right: 5%;
}
.Read-more {
  float: right;
  padding: 10px;
  border-radius: 15px;
  color: white;
  border-color: transparent;
  margin-right: 5rem;
  margin-top: 1rem;
}
/* DEAR ESTEEMED CUSTOMER SECTION END*/
/* FOOTER SECTION START*/
.footer {
  width: 100%;
  flex-direction: row;
  display: flex;
  margin-right: 3rem;
  background-color: black;
  margin-top: 4rem;
  color: white;

}
.footerBox {
  margin-left: 10%;
  width: 20%;
  margin-left: 5%;
}
/* FOOTER SECTION END*/
